body{
    background-color: #800000;
    background-image: url(../img/logo1.jpg);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.login {
    background-color: #FF4000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2%;
    border-radius: 15px;
    margin: 0 30% 0 30%;
    border: solid #577F99 5px;
}

.login>a,  .login>button, .login>input {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    padding: 5px;
    margin-top: 5px;
    background-color: white;
    color: black;
    border: solid 1px black;
    border-radius: 10px;
}

.login>button:hover, .login>a:hover {
    background-color: green;
}

.menuPrincipal {
    background-color: #FF4000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2%;
    border-radius: 15px;
    margin: 0 30% 0 30%;
    border: solid #577F99 5px;
}

.menuPrincipal>a {
   text-decoration: none;
   color: black;
   padding: 15px;
   border: solid green;
   margin: 15px;
   border-radius: 15px;
   background-color: rgb(155, 97, 97);
}

.login>label {
    display: inline-block;
}

.login>input {
    margin: 2%;
}

.login>input:hover {
    background-color: #BBC0C2;
}

#h1Login {
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    font-size: 250%;
    padding: 15px;
    background-color: #FF4000;
    border-radius: 15px;
    border: solid #577F99 5px;
}

.faseGrupos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 1%;
    row-gap: 1%;
    margin: 5%
}

.tablas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 1%;
    row-gap: 1%;
    margin: 5%
}

table, td, th{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
    border: solid #3A5566 2px;
    border-collapse: collapse;
    padding: 5px;
    background-color: #74A9CC;
}

td, th {
    width: 130px;
}

.menu>a {
    background-color: rgb(155, 97, 97);
    text-decoration: none;
    padding: 1%;
    color: black;
}

.menu>a:hover {
    background-color: white;
    border: solid black 2px;
}

.menu {
    margin-bottom: 5%;
    background-color: rgb(155, 97, 97);
    padding: 1%;
}

#pasarFase {
    background-color: white;
    border: solid black 5px;
    padding: 10px;
    margin-left: 50px;
    margin-top: 5px;
    font-size: 25px;
}

#pasarFase:hover {
    background-color: black;
    color: white;
    padding: 10px;
    
}

#mensInfo {
    color: red;
    text-align: center;
    font-size: 50px;
    text-shadow: 0 5px black;
}

#enlacePredicciones {
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    padding: 15px;
    margin-left: 45%;
    background-color: white;
    color: black;
    border: solid 1px black;
    border-radius: 10px;
}

#titulo {
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    padding: 15px;
    background-color: #FF4000;
    border-radius: 15px;
    border: solid #577F99 5px;

}
